
.containerStoreContent {
  border: 3px solid white;
  width: 80%;
  height: 100%;
}




.paginated {
  background-color: white;
  margin:20px 0 20px 0;
}

.divContainer {
  display: flex;
  flex-direction: row;
}

.divProducts {
  margin-left: 25%;
}
