
.containerStoreContent {
    /* margin-left: 20em; */
    width: 80%;
    /* height: 9%; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    border:3px solid blue
  
  }
  
  .containerCards {
    border:3px solid red
  }
  
  
  .paginated {
    background-color: #151515;
    display: flex;
    flex-direction: row;
    /* margin-top: 5em;
    margin-bottom: -2em; */
    justify-content: center;
    border: 3px solid orange;
  }
  
  .divContainer {
    display: flex;
    flex-direction: row;
  }
  
  .divProducts {
    margin-left: 25%;
    
  }
  