.images-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
  gap: 10px;
  background-color: #1a1a1a;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 0.5em;
  margin-top: 20px;
  padding: 1em;
}

.h3-warning {
  color: red;
}

.image-preview {
  width: 100px;
  display: inline-block;
  position: relative;
}
.image-perfil-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-perfil-container img {
  width: 100px;
  border-radius: 50%;
}

.image-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.image-preview i,
.remove-img-spinner {
  position: absolute;
  left: 4em;
  font-weight: 700;
  z-index: 9999999;
  font-size: 20px;
  cursor: pointer;
}

.image-preview i:hover {
  color: red;
}

.containerForm {
  background-color: #292929;
  margin: auto;
  padding: 1em;
  margin-top: 7%;
  margin-bottom: 10%;
  width: 35%;
  align-items: start;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  flex-direction: column;
  border-radius: 0.5em;
}
.containerForm h1 {
  margin: 0;
  margin-bottom: 0.3em;
  padding: 0;
}

.productName {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.productName label {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}
.productName input {
  outline: none;
  width: 93%;
  font-size: 1em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
  background-color: #1a1a1a;
  color: aliceblue;
  border: 1px solid rgb(87, 87, 87);
  border-style: solid;
}
.productName input:focus {
  border-color: grey;
}

.productDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.productDescription label {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}
.productDescription textarea {
  outline: none;
  width: 93%;
  max-width: 93%;
  min-width: 93%;
  font-size: 1.2em;
  height: 2em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #1a1a1a;
  color: aliceblue;
  border: 1px solid rgb(87, 87, 87);
  border-style: solid;
}
.productDescription textarea:focus {
  border-color: grey;
}

.productInfoExtra {
  width: 100%;
  display: grid;
  align-items: start;
  margin-top: 0.5em;
  margin-bottom: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.productInfoExtra label {
  font-size: 1.3em;
  margin-bottom: 0.4em;
  align-items: start;
  display: flex;
}
.productInfoExtra input {
  outline: none;
  width: 80%;
  font-size: 1em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
  background-color: #1a1a1a;
  color: aliceblue;
  border: 1px solid rgb(87, 87, 87);
  border-style: solid;
}
.productInfoExtra input:focus {
  border-color: grey;
}
.productInfoExtra input[type="number"]::-webkit-inner-spin-button,
.productInfoExtra input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productInfoExtra select {
  outline: none;
  width: 100%;
  font-size: 1em;
  height: 2.25em;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
  background-color: #1a1a1a;
  color: aliceblue;
  border: 1px solid rgb(87, 87, 87);
  border-style: solid;
  background-image: url("../../img/arrow.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 1.5em;
  background-position-y: center;
  appearance: none;
}
.productInfoExtra div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.imgsProducts {
  padding-top: 1.2em;
  padding-bottom: 2em;
  width: 100%;
}
.imgsProducts label {
  color: rgba(255, 0, 0, 0.603);
  width: 9em;
}
.containerForm button {
  background: none;
  color: aliceblue;
  border: 1px solid white;
}
.containerForm button:hover {
  background-color: aliceblue;
  color: #1a1a1a;
}
.containerForm button[type="submit"] {
  color: green;
  border-color: green;
}
