@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  margin-left: -2em;
  margin: 0;
  background-color: #202020;
  border-radius: 2em;
}

ul.pagination li {
  display: inline;
  /* margin-left: 1em; */
}

.default_link{
  font-family: 'Roboto Slab', serif;
  color: aliceblue;
  background-color: #151515;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #5C5C5C;
  border-radius: 1em;
  transition: transform 0.5s ease-out,
}

ul.pagination li a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: transform 0.5s ease-out,
}

ul.pagination li a.active {
  background-color: #464545;
  color: black;
  border-radius: 5em;
}

ul.pagination li a:hover {
  background-color: #5C5C5C;
  border-radius: 5em;
  cursor: pointer;
  color: black;
  transition: transform 0.5s ease-out,
}

.current_link{
  background-color: rgb(247, 247, 247);
  color: black;
  border-radius: 1em;
  border: 1px solid #5C5C5C;
  transition: transform 0.5s ease-out,
}

.current_link:hover{
  background-color: rgb(110, 110, 110);
}