@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.container{
    padding-left: 16em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerData{
    display: none;
    /* background-color: aliceblue; */
    width: 40.6%;
    height: 7em;
    border-radius: 5px;
    font-size: 1em;
}
.containerData:hover{
    display: block;
}


.divDataProduct{
    cursor: pointer;
    text-decoration: none;
}
.containerGame{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 300;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 1em;
    border-bottom: 1px solid #202020;
    gap: 3em;
}
.containerGame:hover{
    background-color: #e4e4e4;
}
.containerGame label{
    cursor: pointer;
    color: black;
}
.containerGame img{
    height: 100%;
    width: 24%;
    border-radius: 0.4em;
}


.divDataProduct:focus ~ .containerData{
    display: none;
}

.input{
    font-family: 'Poppins', sans-serif;
    width: 40%;
    background-color: #151515;
    background-image: url('../../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 20px;
    outline: none;
    padding: 10px 20px;
    z-index: 9999999;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    border: 1px solid grey;
    color: #fff;
}
.input:focus ~ .containerData{
    display: block;
}

.info p{
    color: rgb(161, 161, 161);
    background-color: #202020;
    border-radius: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: fit-content;
}
.info svg{
    color: #202020;
}