.container{
    /* border: 1px solid black; */
    border-radius: 1em;

    width: 18em;
    height: 24em;
    margin-bottom: 1.5em;
    background-color: #202020;
    color: aliceblue;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: transform 0.3s ease-out;
}

.container .infoSecundaria{
    display: none;
}

.container:hover{
    transform: scale(1.03);
    height: 30em;
    position: absolute;
    z-index: 999;
}
.container:hover .infoSecundaria{
    display: block;
}

.container article{
    padding-left: 2em;
    margin-top: 2.5em;
}

.container article p{
    display: inline;
    color: #797979;
}
.container article p:nth-child(2){
    margin-left: 8em;
}
.stock{
    margin-top: 1em !important;
}
.stock p:nth-child(2){
    margin-left: 9.6em !important;
}

.container .infoSecundaria hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-color: #797979;
}

.info{
    margin-top: -1em;
    padding-left: 1em;
    padding-right: 1em;
}

.containerImgs{
    border-radius: 1em;
    height: 14em;
    /* mix-blend-mode: multiply; */
}

.imgs{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 90%;
}

.tamano{
    /* border-radius: 1em; */
    height: 200em;
    border-radius: 1rem 1rem 0 0;
}

.price{
    background-color: rgb(19, 17, 17);
    display: inline;
    border-radius: 1em;
    padding: 5px;
}