.containerUl {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 2em;
  padding-right: 2em;
}

.containerUl li {
  margin: 25px 0 0 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  width: 80%;
  height: 4vh;
  display: flex;
  align-items: center;
}

.containerUl a{
  width: 90%;
  align-items: start;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.containerUl li:hover {
  background-color: rgb(119, 123, 123);
  border-radius: 10px;
}

.containerLink {
  /* border:2px solid white; */
  /* border-right: 1px solid rgb(195, 190, 190); */
  box-shadow: 1px 0 5px -2px #a6a6a6;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
  align-items: center;
  height: 60rem;
  width: 100%;
}
.firstchildLink {
  margin: 20px 0 0 0;
  /* border: 2px solid white; */
  width: 100%;
  height: 50%;
  align-items: left;
  justify-content: start;
}
.secondChildLink {
  /* border: 2px solid rgb(17, 230, 102); */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding-top: 10em;
  z-index: 9999999999999999999999999;
}

/* .secondChildLink a{
  width: 100%;
  align-items: start;
  justify-content: left;
  display: flex;
  flex-direction: row;
  border: 2px solid orange;
} */
/* .secondChildLink li{
  margin: 25px 0 0 0;
  cursor: pointer;
  font-size: 17px;
  border-top: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px; 
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
} */


.iconsNav{
  width: 3em;
  color: aliceblue;
}

.containerPerfiluser {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 999999999999999999;

  
}

.containerUser {
  display: flex;
  margin:10px 0 0 0;
  /* border:2px solid white; */
  justify-content:center;
  align-items: center;
  z-index: 999999999999999999;
  flex-direction: column;
  position: absolute;
  left: 9em;
  top: 8em;
  height: 10rem;
  width: 100%;
}
.menuUser {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #202020;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 7vh;
} 

.menuUser p {
  font-size: 25px;
  font-weight: 400;
}

.OpenMenuUser {
  margin:15px 0 0 0;
  border:1px solid grey;
  border-radius: 0.3em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 12em;
  display: flex;
  z-index: 99999999999999999999999999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a1a;
}

.OpenMenuUser li {
  margin: 0px 0 0 0;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  padding-top: 0.2em;
  border-radius: 0.5em;
  padding-bottom: 0.2em;
}


.OpenMenuUser li:hover {
  background-color: #292929;
}
.OpenMenuUser ul{
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999999999999999;
  margin: 0;
}

.containerCount{
  border: 5px;
  border-color: white;
  border-radius: 50%;
}

.iconImage{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.loguin{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.loguin label{
  cursor: pointer;
}
.loguin:hover{
  border-radius: 0.5em;
  background-color: #292929;
}