.containerStarts h1{
    margin-bottom: 0.5em;
}
.icon{
    color: rgb(184, 184, 32);
    font-size: 2em;
}
.iconVoid{
    color: rgb(184, 184, 32);
    font-size: 2.5em;
    margin-bottom: -0.13em;
}