@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&display=swap');

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Geologica', sans-serif;
    color: aliceblue;
    background-color: #202020;
    border-radius: 0.5em;
    margin-top: 7em;
    margin-bottom: 5em;
    text-align: left;
    padding: 2em;
    padding-left: 3em;
    position: relative;
    padding-right: 3em;
    width: 70em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contLeft{
    width: 50%;
}
.contLeft h1{
    font-size: 3em;
}

.contLeft button{
    border: none;
    background-color: #187515;
    border-radius: 0.5em;
    text-align: left;
    width: 9em;
    height: 5em;
    color: aliceblue;
    font-family: 'Geologica', sans-serif;
    margin-bottom: 2em;
    padding: 0.8em;
    padding-left: 1.5em;
    transition: 2;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.hrPrimero{
    margin-top: -6em;
}
.hrSegundo{
    margin-top: -1em;
}
.contLeft button:hover{
    cursor: pointer;
    transition: 2;
    box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.2) -3px -3px 6px 1px inset;
}
.contLeft button .labelStyle{
    margin-top: -0.5em;
    font-size: larger;
}

.favoritesStyle {
    font-size: 3em;
    margin-top: -0.5em;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.74);
}
.contOptions{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}


.contRight{
    width: 50%;
    height: 45em;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 5em;
    padding-right: 5em; */
    width: 80%;
    margin-bottom: 2em;

}
.info hr{
    width: 0;
    height: 5em;
}
.info p{
    color: #7a7a7a;
}

.about{
    color: #9c9c9c;
    font-size: 1.2em;
    margin-bottom: 2em;
    width: 90%;
}

.seccionesDetail{
    margin-top: -5em;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* .seccionesDetail div:hover{
    background-color: #252525;
    border-color: grey;
} */
.seccionesDetail div label{
    font-size: larger;
   
    margin-left: auto;
    margin-right: auto;
}
.rateGame{
   
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rateGame:hover{
    background-color: #252525;
    border-color: grey;
}
.notRateGame{
    background-color: #525252;
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.notRateGame:hover{
    background-color: #252525;
    border-color: grey;
}
.rateDisabled{
    background-color: #202020;
    color: #505050;
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(78, 78, 78);
    display: flex;
    align-items: center;
    
}
.rateDisabled:hover{
    background-color: #202020;
    color: #505050;
    
}
.acerca{
    background-color: #525252;
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.reviews{
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.acercaDE{
   
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.reviewsStyle{
    background-color: #525252;
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ratingStyle{
    background-color: #525252;
    width: 32%;
    height: 3em;
    border-radius: 0.5em;
    border: 1px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    cursor: pointer;
    
}