.Container {
  background-color: #3A3A3A;
  display: flex;
  margin-top: 3em;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  width: 18%;
  height: 100%;
  padding: 1em;
}
hr{
  width: 100%;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}