.formhtml {
  /* border: 2px solid red; */
  /* margin-top: 1.5rem; */
  width: 70%;
  height: 25rem;
}
.DivForm {
  display: flex;
background-color: rgba(17, 24, 39, 1);
border-radius: 0.75rem;
color: rgba(243, 244, 246, 1);
width: 30%;
height:75%;
flex-direction: column;
align-items:center;
justify-content:center;
}

.inputGroup {
  /* border: 2px solid red; */
  display: flex;
  margin: 0 0 16px 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-direction: column;
}
.errors {
  color: red;
  margin: 10px 0 0 0;
  font-weight: 600;
}

.inputGroup label {
  display: flex;
  color: rgba(156, 163, 175, 1);
  font-size: 1rem;
  margin-bottom: 4px;
  align-items: flex-start;
}

.inputGroup input {
  width: 85%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.inputGroup input:focus {
  border-color: rgba(167, 139, 250);
}

.sign {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}

.sign button {
  display: flex;
  justify-content: center;
  width: 85%;
  cursor: pointer;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social_message {
  /* border: 2px solid yellow; */
  margin:6vh 0 0 0;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.social_message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 20px;
}

.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:2px solid red; */
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del 70% */
  z-index: 1;
  width: 99%;
  height: 100%;
}

.imgsProducts {
  padding-top: 1.2em;
  padding-bottom: 2em;
  width: 100%;
}
.imgsProducts label {
  color: rgba(255, 0, 0, 0.603);
  width: 9em;
}

.images_preview_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
  gap: 10px;
  background-color: #1a1a1a;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 0.5em;
  margin-top: 20px;
  padding: 1em;
}

.image_preview {
  width: 100px;
  display: inline-block;
  position: relative;
}

.image_preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.image_preview i,
.remove_img_spinner {
  position: absolute;
  left: 4em;
  font-weight: 700;
  z-index: 9999999;
  font-size: 20px;
  cursor: pointer;
}

.image_preview i:hover {
  color: red;
}
