.App {
  display: flex;
  position: relative;
  min-height: 100vh;
  text-align: center;
  height: 100%;
  flex-direction: column;
  background-color: #151515;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
}